<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923800644650-n8kj0pk2b0bh1oe3u29857enusommv4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923800644650-n8kj0pk2b0bh1oe3u29857enusommv4f</string>
	<key>API_KEY</key>
	<string>AIzaSyBaLnJ-qeRfc25Hr0_kltXde5dOGbyVW6g</string>
	<key>GCM_SENDER_ID</key>
	<string>923800644650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.Bandit---IOS-Academy</string>
	<key>PROJECT_ID</key>
	<string>bandit-74781</string>
	<key>STORAGE_BUCKET</key>
	<string>bandit-74781.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923800644650:ios:d3f4d56c91eb3a29e46753</string>
</dict>
</plist>